In [1]:
import pandas as pd
from sklearn import datasets
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
iris_data = datasets.load_iris()
iris = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
iris['species'] = pd.Series(iris_data.target, dtype='category')
iris.head(2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sepal length (cm)</th>
      <th>sepal width (cm)</th>
      <th>petal length (cm)</th>
      <th>petal width (cm)</th>
      <th>species</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5.1</td>
      <td>3.5</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4.9</td>
      <td>3.0</td>
      <td>1.4</td>
      <td>0.2</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
pd.cut(iris['sepal length (cm)'], 5)

In [11]:
pd.cut(iris['sepal length (cm)'], 5).value_counts().sort_index()

(4.296, 5.02]    32
(5.02, 5.74]     41
(5.74, 6.46]     42
(6.46, 7.18]     24
(7.18, 7.9]      11
Name: sepal length (cm), dtype: int64

In [12]:
pd.qcut(iris['sepal length (cm)'], 5)

0         (5, 5.6]
1         [4.3, 5]
2         [4.3, 5]
3         [4.3, 5]
4         [4.3, 5]
5         (5, 5.6]
6         [4.3, 5]
7         [4.3, 5]
8         [4.3, 5]
9         [4.3, 5]
10        (5, 5.6]
11        [4.3, 5]
12        [4.3, 5]
13        [4.3, 5]
14      (5.6, 6.1]
15      (5.6, 6.1]
16        (5, 5.6]
17        (5, 5.6]
18      (5.6, 6.1]
19        (5, 5.6]
20        (5, 5.6]
21        (5, 5.6]
22        [4.3, 5]
23        (5, 5.6]
24        [4.3, 5]
25        [4.3, 5]
26        [4.3, 5]
27        (5, 5.6]
28        (5, 5.6]
29        [4.3, 5]
          ...
120    (6.52, 7.9]
121       (5, 5.6]
122    (6.52, 7.9]
123    (6.1, 6.52]
124    (6.52, 7.9]
125    (6.52, 7.9]
126    (6.1, 6.52]
127     (5.6, 6.1]
128    (6.1, 6.52]
129    (6.52, 7.9]
130    (6.52, 7.9]
131    (6.52, 7.9]
132    (6.1, 6.52]
133    (6.1, 6.52]
134     (5.6, 6.1]
135    (6.52, 7.9]
136    (6.1, 6.52]
137    (6.1, 6.52]
138     (5.6, 6.1]
139    (6.52, 7.9]
140    (6.52, 7.9]
141    (6.52, 7.9]
142     (5.6, 6.1]
143    (6.52, 7.9]
144    (6.52, 7.9]
145    (6.52, 7.9]
146    (6.1, 6.52]
147    (6.1, 6.52]
148    (6.1, 6.52]
149     (5.6, 6.1]
Name: sepal length (cm), dtype: category
Categories (5, object): [[4.3, 5] < (5, 5.6] < (5.6, 6.1] < (6.1, 6.52] < (6.52, 7.9]]

In [16]:
pd.qcut(iris['sepal length (cm)'], 5).value_counts().sort_index()

[4.3, 5]       32
(5, 5.6]       33
(5.6, 6.1]     30
(6.1, 6.52]    25
(6.52, 7.9]    30
Name: sepal length (cm), dtype: int64