In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'key': ['a', 'b', 'b', 'c'], 'data1': range(4)})
df2 = pd.DataFrame({'key': ['b', 'b', 'b', 'd'], 'data2': range(4, 8)})

In [4]:
pd.merge(df1, df2, on='key', how='inner')

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>data1</th>
      <th>key</th>
      <th>data2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>b</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>b</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>b</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>b</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>b</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>b</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
pd.merge(df1, df2, on='key', how='outer')

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>data1</th>
      <th>key</th>
      <th>data2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>a</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>b</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.0</td>
      <td>b</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.0</td>
      <td>b</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2.0</td>
      <td>b</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2.0</td>
      <td>b</td>
      <td>5.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2.0</td>
      <td>b</td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3.0</td>
      <td>c</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>NaN</td>
      <td>d</td>
      <td>7.0</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
df1.columns.values.tolist()

['data1', 'key']

In [8]:
df1['key'].value_counts(normalize=True)

b    0.50
c    0.25
a    0.25
Name: key, dtype: float64